*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
}
body{
    max-width:1084px;
    margin:0 auto;
    overflow-x:hidden;     
}

.clicked_menu{
    display: none;
}
.burger_lines{
    display: none;
}

h1{
    font-size: 50px;
    

}

header{
    display:flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    
}



ul{
    width: 214px;
    display:flex;
    justify-content: space-between;
   
}
a{
    color: #181818;
    transition:300ms color ease;
    margin:0px 0px 45px;
}
a:hover{
    color:#BADC58;
    transition : 300ms color ease;
}

.hero-content{
    height: calc(100vh - 60px);
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    

    
}

.hero-content::before{
    content:'';
    display: block;
    position:absolute;
    
    top:60px;
    bottom:-1px;
    left:0;
    right:0;
    background-color: #181818;
    opacity: .6;
    z-index: -1;
 

}

.hero-content::after{
    /* content: url(./assets/images/basil); */
    position:absolute;
    z-index: 1;
    right: -905px;
    bottom: -390px;
}



.hero-text{
    text-align: center;
    color:#fff;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    line-height: 2;
}





.hero-image{
    position:absolute;
    z-index:-2;
    width: 100%;
    height:calc(100vh - 60px);
    top:60px;
    left:0;
    object-fit: cover;
}
.Hero-button{
    text-align: center;
    font-size : 14px ;
    background-color: #BADC58;
    color:#181818;
    transition:300ms color ease;
    border:none;
    width: 164px;
    height:46px;
    border-radius: 8px;
    margin: 30px 0 30px;
    line-height: 3;   
}


.Hero-button:hover{
    color:#BADC58;
    background-color:#fff;
    transition:300ms color ease;
}

.scroll_txt{color: #FFF;
    margin-top: 110px;
}

.scroll_txt::after{
    content: url(../../assets/images/Arrow.svg);
    display: block;
    position: absolute;
    width: 10px;
    height: 17px;
    margin-left:50px;
    line-height: 4;

}


h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}


.menu{
	background-color: #FFF;
    position: relative;
    width: 1084px;   
}

.menu::before {
	content: '';
	display: block;
	width: 100%;
	height: 55px;
	position: absolute;
	top: -55px;
	background-color: #FFF;
	border-top-left-radius:20px;
	border-top-right-radius: 20px;
	
	
}



.menu::after {
	content: '';
	display: block;
	width:  100%;
	height: 56px;
	background-color: #fff;
	position: relative;
	bottom: -55px;
	z-index: 5;
	border-bottom-right-radius:20px;
	border-bottom-left-radius: 20px;
	
	
}

.menu {
	box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
}


.menu_ul{  display: flex;
    flex-wrap: wrap;
    width: 1084px;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;}



.menu_img{
    width: 250px;
    height: 250px;
}


.menu_ul li{
    height: 452px;
    width: 308px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    align-items: center;
       
    }
.list_txt{
    text-align: center;
    word-wrap: break-word;
    display: block;
    max-width: 274px;
}

    


.menu_ul li:hover{
    transition : 300ms color ease;
    box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
    border-radius: 20px;

}



.menu_buttons {
	background-color: #FFF;
	border: 1px solid #badc58;
	color: #badc58;
	padding: 16px 46px 14px 44px;
	border-radius: 10px;
}


.menu_buttons:hover{color:#fff;
    background-color:#BADC58;
    transition:300ms color ease;

}

footer{
    position: absolute;
    left:0px;
    width: 100%;
    height: 600px;
    background-color:  #292C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}



.address{
    color: #f59a63;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1086px;
    height: 60px;
    margin-top:80px;

}

.number{
    color:#f59a63;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:45px;

    
    
}

.map{
    width: 1086px;
    height: 290px;
    border-radius: 15px;
    margin-bottom:50px;
    margin-top: 20px;
}

.icons{display: flex;
    align-items:center;
    justify-content: space-between;
    width:1086px;
}
    
.social{
    width:100px;
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.visa{
    margin-bottom: 42px;
}

.instagram:hover path{
    fill:#BADC58;
}

.facebook:hover path{
    fill:#FFF;
}

.youtube:hover path{
    fill:#FFF;
}

/*Media queries for 320px*/

@media (max-width:320px){
    header{
        height: 60px;
        width: 320px;
        
    }


    ul{
        display: none;
    }
    
    .hero-content{
        height: 300px;
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
    
        
    }
    
    .hero-content::before{
        content:'';
        height: 300px;
        display: block;
        position:absolute;
        top:60px;
        bottom:0;
        left:0;
        right:0;
        background-color: #181818;
        opacity: .6;
        z-index: -1;
        
    
    }

    .hero-image{
        position:absolute;
        z-index:-2;
        width: 100%;
        height:300px;
        top:60px;
        left:0;
        object-fit: cover;
    }
    
    .hero-text{
        text-align: center;
        display:flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: column;
        color:#fff;   
    }

    .hero-text h1{
        font-size: 19px;
        
    }

    .hero-text p{
        font-size:12px;
    }

    .scroll_txt{display:none;
    
    }
    
   

    .Hero-button{
    
        font-size : 14px ;
        background-color: #BADC58;
        color:#181818;
        transition:300ms color ease;
        border:none;
        width: 133px;
        height:46px;
        border-radius: 8px;  
        margin: 30px 0 30px;
        
        
    }

    .menu{display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        width: 300px;
        height:2720px;
        margin-left: 10px;
        

        
    }



    .menu_ul{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        flex-direction: row;
        width: 250px;
    }

    .menu_ul li{
        width:250px;
        height: 414px;
    }

    .menu_ul li p{
        font-size:10px;
    }

    .menu_ul li h4{
        font-size:16px;
    }



    footer{
        position: absolute;
        left:0px;
        width: 100%;
        height: 644px;
        background-color:  #292C2F;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }

    .address{
        width:300px;
        height:60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 12px;
        font-size: 12px;
        
    }

    .number{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top:16px;
        margin-bottom: 9px;
    }

  

    .map{
        width: 300px;
        height:290px;
    }
    .icons{
        display: flex;
        flex-direction: column-reverse;
    }




    .burger_lines{
        position: absolute;
            display: flex;
             flex-direction: column;
             cursor: pointer;
             right:5%;
             top:5%;
             transform: translate(-5%,-50%);
    }  

    .line{
        position: relative;
        display: block;
        width: 30px;
        height: 3px;
        background-color:black;
        border-radius: 1px;
        transition: 0.3s ease;
        margin: 3px;
    }
   
    .clicked_menu{
        position:absolute;
        width: 320px;
        height:508px;

    }

   




}








   








